{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
    <div class="general-container">
    <div class="container top-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <h1 align="center" class="title">Наш магазин скоро откроется!</h1>
                    <h1 align="center" class="title">Оставляйте ваш е-мэйл в форме ниже!</h1>
                    <p align="center">Today is {{ current_date }}</p>
                <div align="center">
                    <form action = "" method="post" class="form-inline text-center">{% csrf_token %}
                     <div class="form-group">
                         <label>Ваше имя:</label>
                         {{ form.name }}
                         <label>Ваше e-mail:</label>
                         {{ form.email }}
                         <button type="submit" class="btn btn-primary/ send-button">Отправить</button>
                     </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
</body>
</html>